gunicorn==19.7.1
requests==2.18.4
Flask==0.2.12

PyYAML==3.10
python-dateutil==2.1
Jinja2==2.7
tornado==4.3
MarkupSafe==0.23

six==1.5.2
PyYAML==3.10
inflection==0.3.1
pandas==0.14
numpy==1.8
chardet==3.0.2
idna==2.5
urllib3==1.21.1
certifi==2017.4.17
pytz==2011k
cryptography==2.1.4
asn1crypto==0.21.0

pandas==0.22.0
